# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [11]:
# Import the file and print the first 5 rows
df = pd.read_csv('Data/Zipcode_Demos.csv', header=47)
df.head(5)

# Excel file import
# df = pd.read_excel('Data/Zipcode_Demos.xlsx', header=48)
# df.head(5)

,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,48,10001,44,22,0.50,22,0.50,0,0,44,...,44,100,20,0.45,24,0.55,0,0,44,100
1,49,10002,35,19,0.54,16,0.46,0,0,35,...,35,100,2,0.06,33,0.94,0,0,35,100
2,50,10003,1,1,1.00,0,0.00,0,0,1,...,1,100,0,0.00,1,1.00,0,0,1,100
3,51,10004,0,0,0.00,0,0.00,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,52,10005,2,2,1.00,0,0.00,0,0,2,...,2,100,0,0.00,2,1.00,0,0,2,100

In [12]:
# Print the last 5 rows of df
df.tail(5)

,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
5,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0.0,6,1.0,0,0,6,100
6,54,10007,1,0,0.00,1,1.00,0,0,1,...,1,100,1,1.0,0,0.0,0,0,1,100
7,55,10009,2,0,0.00,2,1.00,0,0,2,...,2,100,0,0.0,2,1.0,0,0,2,100
8,56,10010,0,0,0.00,0,0.00,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
9,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0.0,3,1.0,0,0,3,100

In [ ]:
# What is going on with this data set? Anything unusual?

In [29]:
# Clean up the dataset
df1 = pd.read_csv('Data/Zipcode_Demos.csv', header=0,skiprows=[1], usecols=[0,1,2], nrows=46)
df1.head()
df2 = pd.read_csv('Data/Zipcode_Demos.csv', header=47)
df2.tail()

,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
5,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0.0,6,1.0,0,0,6,100
6,54,10007,1,0,0.00,1,1.00,0,0,1,...,1,100,1,1.0,0,0.0,0,0,1,100
7,55,10009,2,0,0.00,2,1.00,0,0,2,...,2,100,0,0.0,2,1.0,0,0,2,100
8,56,10010,0,0,0.00,0,0.00,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
9,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0.0,3,1.0,0,0,3,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [53]:
# Hint: Here's a useful programming pattern to use
for i in range(0,500):
    try:
        df = pd.read_csv('Data/Yelp_Reviews_corrupt.csv',header=0, nrows=i)# Do something
    except Exception as e:
        print(f'break at line {i}')
        break
print(f'break at line {i}')
df1 = pd.read_csv('Data/Yelp_Reviews_corrupt.csv',header=0, nrows=i-2)
df1.tail(20)

break at line 499

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
477,at the dessert bar you can order fresh coffee ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
478,everything was really good. The place is...,0,D1_nrBr4dOrs7M82OaBRwQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,794,XXW_OFaYQkkGOGniujZFHg,0,2013-12-04,0.0,XxsMdJl8OTgeq5iEhp4JLQ,5.0,this is for the fireside lounge.,NaN,NaN
480,great place to finish the night off or start i...,1,D1_nrBr4dOrs7M82OaBRwQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481,800,xtYiHTmunjfCN2sUaQxBjA,0,2014-08-05,0.0,FvjiRz5AhudQ34C6P8YLgQ,5.0,pros- our window was from floor to cielling a...,NaN,NaN
482,huge rooms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,huge bed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484,fridge in closet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485,safe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486,lots of mirriors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,shuttle to the strip,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488,only SEAFOOD buffet in Vegas that i know of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489,the A/C is strong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490,cons- resort fee unless you book with easyclic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,carnival buffet could be better,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,pool needs more shade,1,D1_nrBr4dOrs7M82OaBRwQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,844,NzWpIwYwGsjujewhYjPPPg,0,2017-12-02,0.0,J2IFDV3oKJpTAXpW5x_PWw,1.0,I came in to get some boba tea and there was a...,0.0,0XKTRsa8Y1A3RHJB5LhuUg
494,850,VH2BjFjc9usDquDgoHhptA,0,2017-12-05,0.0,TSqSiHfqtBigBa6ia59K7w,5.0,Amazing tacos! A must try if you're in the are...,0.0,SZHWhyG7WxJZdGp6fBVlRg
495,851,JlkHGjgS3MJ5FqEDJdu8xQ,0,2015-03-05,0.0,OtM6s1Y9V1EbpLp0BZnV7A,5.0,I had a wonderful lunch with my mother at this...,0.0,SZHWhyG7WxJZdGp6fBVlRg
496,853,trpn1eVgQdR1iWG6uLZrQg,0,2012-09-15,0.0,mFPOlzjmRbVWHh4E5SL-Dw,5.0,I can't say enough good about this place. Oyst...,NaN,NaN

## Summary

Congratulations, you now practiced your Pandas-importing skills!